dependencies/ogre/assimp-6.0.3/lib/RelWithDebInfo/assimp-vc143-mt.lib filter=lfs diff=lfs merge=lfs -text
dependencies/ogre/Dependencies/lib/assimp-vc143-mt.lib filter=lfs diff=lfs merge=lfs -text
dependencies/ogre/lib/Debug/OgreMainStatic_d.lib filter=lfs diff=lfs merge=lfs -text
dependencies/ogre/include/assimp-6.0.3/lib/RelWithDebInfo/assimp-vc143-mt.lib filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
